.svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(-50%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
:is(#human, #hexagon, #graph, #dots) {
  opacity: 0;
}
#chart {
  --main-duration: 1s;
  --human-delay: 0.5s;
  --hexagon-delay: 1s;
  --graph-delay: 1.5s;
  --dots-delay: 1.75s;
  --e-triangle: cubic-bezier(0.53, 0.02, 0.3, 1.1);
  --e-graph: cubic-bezier(0.77, 0.01, 0.6, 1);
  --e-dots: cubic-bezier(0.76, 0.07, 0.35, 1.02);
}
#human {
  animation: fadeLeft var(--main-duration) var(--human-delay) ease forwards;
}
#hexagon {
  animation: fadeDown var(--main-duration) var(--hexagon-delay)
    var(--e-triangle) forwards;
}
#graph {
  animation: fadeRight var(--main-duration) var(--graph-delay) ease forwards;
}
#dots {
  animation: fadeDown var(--main-duration) var(--dots-delay) ease forwards;
}

#humanGroup {
  animation: slowZoom 4s var(--human-delay) ease alternate infinite;
}

/* ids for the hexagon */
#polygon {
  animation: levitate 3s var(--hexagon-delay) ease alternate infinite;
}
#triangle {
  animation: wiggle 3s var(--hexagon-delay) ease alternate infinite;
}

/* graph items */
#left {
  animation: levitate 3s var(--graph-delay) var(--e-graph) alternate infinite;
}
#right {
  animation: levitate 3s var(--graph-delay) var(--e-graph) alternate infinite;
}

/* stuff */
#blueDots {
  animation: slowZoom 4s var(--dots-delay) var(--e-dots) alternate-reverse
    infinite;
}
#whiteDots {
  animation: slowZoom 5s var(--dots-delay) var(--e-dots) alternate infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1%, -1%);
  }
  50% {
    transform: translate(0%, -1%);
  }
  100% {
    transform: translate(-1%, -1%);
  }
}
@keyframes levitate {
  0% {
    transform: translateY(-2%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-2%);
  }
}

@keyframes slowZoom {
  from {
    transform: scale(1.2%);
  }
  to {
    transform: translateY(1%);
  }
}
