.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  align-items: center;
}

.circleBg {
  width: 540px;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.circleBg a {
  font-size: var(--font-size-large);
  font-weight: 400;
}

.header ul {
  width: 30%;
  display: flex;
  justify-content: space-between;

  margin-right: var(--margin);
}

.link:not(:last-child) {
  font-size: var(--font-size-small);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.link:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--white-color);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.link:hover:before,
.link:focus:before,
.link:active:before {
  left: 0;
  right: 0;
}

.signin {
  border: var(--border);
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);

  transition: var(--transition);

  cursor: pointer;
}

.signin:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

.ddWrapper {
  display: flex;
  justify-content: center;
  align-content: center;
}

.ddHeader {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.iconDown {
  height: var(--font-size-small);
  margin-left: 0.5rem;
}

.ddList {
  display: none;
  position: absolute;
  margin-top: 1.7rem;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation-name: listAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;
}

.arrowUp {
  height: 10px;
}

.divUnder {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  border: var(--border);
}

@keyframes listAnimation {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.divUnder a {
  padding: 0.5rem 2rem;

  font-size: var(--font-size-small);
  text-align: center;

  background-color: var(--main-color);

  color: var(--bg-color);

  transition: var(--transition);
}

.divUnder a:hover {
  background: var(--bg-color);
  color: var(--white-color);
}

.divUnder a:not(:last-child) {
  border-bottom: var(--border);
}

@media screen and (max-width: 1450px) {
  .circleBg {
    background: none;
  }
}
