.header {
  min-height: 100px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  align-items: center;
}

.circleBg {
  width: 580px;
  height: 370px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-left: 2rem;

  background-image: url("/circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.circleBg a {
  font-size: var(--font-size-large);
  font-weight: 400;
}

.menu {
  height: 100vh !important;
}

.bmItemList a {
  transition: var(--transition);
}

.bmItemList a:hover {
  color: var(--secondary-color);
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
}

.div {
  height: 100%;
}

.icon {
  height: 28px;
  margin-right: 0.5rem;
  color: var(--secondary-color);

  outline: none;
}

.signin {
  border: var(--border);
  background-color: transparent;
  color: var(--white-color);
  font-size: 18px;
  padding: 0.5rem 2rem;
  border-radius: var(--border-radius);

  transition: var(--transition);

  cursor: pointer;

  outline: none;
}

.signin:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
}

@keyframes listAnimation {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.divUnder a {
  padding: 0.5rem 2rem;

  font-size: var(--font-size-small);
  text-align: center;

  background-color: var(--main-color);

  color: var(--bg-color);

  transition: var(--transition);
}

.divUnder a:hover {
  background: var(--bg-color);
  color: var(--white-color);
}

.divUnder a:not(:last-child) {
  border-bottom: var(--border);
}

.pfp {
  border-radius: 50%;
  height: 32px;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1450px) {
  .circleBg {
    width: auto !important;
    height: 100% !important;
    background: none;
  }
}

@media screen and (max-width: 310px) {
  .circleBg {
    padding-left: 1rem;
  }
  .btnHamMenu {
    right: 1rem !important;
  }
}
