.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  color: var(--white-color);
  align-items: center;
}

.header div {
  width: 33%;
  height: 35vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("/circle.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.header h1 {
  /* margin-left: var(--margin); */

  font-size: var(--font-size-large);
  font-weight: 400;
}

.header ul {
  width: 40%;
  display: flex;
  justify-content: space-between;

  margin-right: var(--margin);
}

.header ul li a {
  font-size: var(--font-size-small);
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.header ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--white-color);
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.header ul li a:hover:before,
.header ul li a:focus:before,
.header ul li a:active:before {
  left: 0;
  right: 0;
}
