.container {
  min-height: 100vh;
  height: 100%;

  background: var(--gradient);
}

.main {
  min-height: 90vh;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  overflow: hidden;
  color: var(--white-color);
  padding: 2rem 1rem;
}

@media only screen and (max-width: 780px) {
  .main {
    grid-template-columns: 1fr;
  }
  .main > :not(:last-child) {
    margin-bottom: 2rem;
  }
}

.left {
  min-width: 360px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.left h1 {
  font-weight: 400;
  text-align-last: left;
  font-size: clamp(2rem, 3vw, var(--font-size-large));
}

@media only screen and (max-width: 768px) {
  .left h1 {
    text-align: center;
  }
}
.left h1 span {
  color: var(--main-color);
}

.chart {
  max-width: 678px;
  min-width: 380px;
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons > * {
  margin: 0.8rem;
}

.button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--main-color);
  padding: 0.5rem 1rem;
  font-weight: bold;
  border-radius: var(--border-radius);
  outline: none;
  font-size: clamp(var(--font-size-small), 1.3vw, 1.8rem);
  transition: background-color 0.33s ease-in;
  transition: color 0.33s ease-out;
  cursor: pointer;
}

.button.game {
  color: var(--bg-color);
  background-color: var(--white-color);
  border: var(--border-white);
}

.button.game option {
  color: var(--bg-color);
  outline: none;
  border: none;
}
.button.game option::selection {
  background-color: aqua;
}

.button.check {
  color: var(--bg-color);
  border: var(--border);
  background-color: var(--main-color);
}

.button.check:hover {
  background-color: transparent;
  color: var(--main-color);
}
