.container {
  min-height: 100vh;
  height: 100%;

  background: var(--gradient);
}

.main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white-color);
}

.left {
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.left h1 {
  font-weight: 400;
  font-size: var(--font-size-large);
}

.left h1 span {
  color: var(--main-color);
}

.chart {
  max-width: 700px;
  width: 100%;
}

.buttons {
  width: 75%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons select {
  padding: 0.5rem 2rem;

  color: var(--bg-color);

  outline: none;
  border-radius: var(--border-radius);
  border: var(--border-white);

  font-size: var(--font-size-small);

  cursor: pointer;
}

.buttons select option {
  color: var(--bg-color);

  outline: none;
  border: none;
}

.buttons a {
  padding: 0.5rem 2rem;

  color: var(--bg-color);

  outline: none;
  border: var(--border);

  border-radius: var(--border-radius);
  background-color: var(--main-color);

  font-size: var(--font-size-small);

  transition: var(--transition);

  cursor: pointer;
}

.buttons a:hover {
  background-color: transparent;
  color: var(--white-color);
}

@media screen and (max-width: 1366px) {
  .main {
    flex-direction: column;
  }
  .left {
    height: auto;
  }
  .left h1 {
    text-align: center;
  }
  .buttons {
    margin-top: 0.5rem;
    justify-content: center;
    width: 100%;
  }
  .buttons a {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 720px) {
  .chart {
    padding: 0rem 1rem;
  }
}

@media screen and (max-width: 370px) {
  .left {
    padding: 0rem 1rem;
  }
  .buttons {
    flex-direction: column;
  }
  .buttons a {
    margin-left: 0rem !important;
    margin-top: 0.5rem;
    width: 100%;
  }
  .buttons select {
    width: 100%;
  }
}
